# Host & port of Connect API.
CONNECT_URL="<connect host:port>"
# SPIFFE trust domain of Connect API.
CONNECT_TRUST_DOMAIN="<connect trust domain>"
# Bundle endpoint host of Connect API.
CONNECT_BUNDLE_HOST="<connect bundle host>"
# Domain of authorization provider.
AUTHORIZATION_DOMAIN="<authz domain>"
# Client ID for authorization.
AUTHORIZATION_CLIENT_ID="<authz client ID>"
# Kubernetes namespace for validation workload.
NAMESPACE=production
