# Set the AWS region, account and the name of each cluster.
# Other variable defaults should be acceptable.
AWS_REGION="<region>"
AWS_ACCOUNT="<account>"
WORKLOAD_K8S_CLUSTER_NAME_1="my-cluster-1"
WORKLOAD_K8S_CLUSTER_CONTEXT_1="arn:aws:eks:${AWS_REGION}:${AWS_ACCOUNT}:cluster/$WORKLOAD_K8S_CLUSTER_NAME_1"
WORKLOAD_TRUST_ZONE_1="$WORKLOAD_K8S_CLUSTER_NAME_1"
WORKLOAD_TRUST_DOMAIN_1="$WORKLOAD_K8S_CLUSTER_NAME_1.test"
WORKLOAD_K8S_CLUSTER_NAME_2="my-cluster-2"
WORKLOAD_K8S_CLUSTER_CONTEXT_2="arn:aws:eks:${AWS_REGION}:${AWS_ACCOUNT}:cluster/$WORKLOAD_K8S_CLUSTER_NAME_2"
WORKLOAD_TRUST_ZONE_2="$WORKLOAD_K8S_CLUSTER_NAME_2"
WORKLOAD_TRUST_DOMAIN_2="$WORKLOAD_K8S_CLUSTER_NAME_2.test"
