AWS_REGION="<region>"
AWS_ACCOUNT="<account>"
WORKLOAD_K8S_CLUSTER_NAME="my-cluster"
WORKLOAD_K8S_CLUSTER_CONTEXT="arn:aws:eks:${AWS_REGION}:${AWS_ACCOUNT}:cluster/$WORKLOAD_K8S_CLUSTER_NAME"
WORKLOAD_TRUST_ZONE="$WORKLOAD_K8S_CLUSTER_NAME"
WORKLOAD_TRUST_DOMAIN="$WORKLOAD_K8S_CLUSTER_NAME.test"
